body{
    .innerWidth{
        max-width: 1200px;
        width: 1200px;
        padding: 15px 24px;
        margin: auto;
    }
    header{
        background-color: $color-fundo;
        border-bottom: 1px solid #424141;
        .innerWidth{
            .navBar{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo{
                    width: 70px;
                    height: 80px;
                }
                .navMenu{
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    .navItem{
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 12px;
                        gap: 10px;
                        list-style: none; 
                        transition: 0.5s ease;
                        .navLink{
                            font-family: 'Syne';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            text-transform: uppercase;
                            color: $color-branco;
                            background-color: transparent;
                            transition: 0.5s ease;
                        }
                    }
                    .navItem:hover{
                        background-color: $color-branco;
                        .navLink{
                            color: $color-fundo;
                        }
                    }
                }
                .navIdioma{
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    .idiomaItem{
                        list-style: none;
                        .navLink{
                            font-family: 'Syne';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            text-transform: capitalize;
                            color: $color-branco;
                        }
                    }
                    #idiomaAtivo{
                        .navLink{
                            color: $color-clara02;
                        }
                    }
                }
                .menuHamburguer{
                    display: none;
                    .bar{
                        display: block;
                        width: 28px;
                        height: 3px;
                        border-radius: 2px;
                        margin: 5px auto;
                        background-color: $color-branco;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
    .home{
        height: 980px;
        .innerWidth{
            .banner{
                height: 500px;
                margin-top: 240px;
                margin-bottom: 240px;
                h2{
                    font-family: 'Syne';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 8.75em;
                    line-height: 168px;
                    text-transform: uppercase;
                    color: #fff;
                    background: none;
                }
                h2 span{
                    color: #000;
                    background: none;
                }
                .nome{
                    margin-left: 335px;
                    margin-top: -470px;
                }
                #nome2{
                    z-index: -1;
                    margin-top: -110px;
                    color: transparent;
                    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.2);
                }
                #nome2 span{
                    color: transparent;
                    -webkit-text-stroke: 0.5px rgba(27, 27, 27, 0.2);
                }
                #nome3{
                    margin-top: -105px;
                    color: transparent;
                    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.05);
                }
                #nome3 span{
                    color: transparent;
                    -webkit-text-stroke: 0.5px rgba(27, 27, 27, 0.1);
                }
                .textHome{
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 60px;
                    line-height: 78px;
                    color: #000;
                    margin-left: 30%;
                    background: none;
                    .typed{
                        color: #fff;
                        background: none;
                    }
                    .typed2{
                        color: #fff;
                        background: none;
                    }
                    .typed-cursor{
                        color: #fff;
                        background: none;
                    }
                }
                .textHome span{
                    background: none;
                }
            }
            .redesSociais{
                display: flex;
                flex-direction: column;
                padding: 0px;
                gap: 16px;
                margin-top: -50%;
                float: right;
                a{
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 1s;
                    .icon{
                        width: 40px;
                        height: 40px;
                        path{
                            transition: all 1s;
                        }
                    }
                }
                a:hover path{
                    fill: #fff;
                }
            }
        }
    }
    .portfolio{
        width: 100%;
        height: 593px;
        overflow: hidden;
        .conteudoPortfolio{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            .cardsSlider{
                width: 100%;
                .cards{
                    width: 100%;
                    height: 500px;
                    display: flex;
                    margin-bottom: 32px;
                    .card{
                        width: 100%;
                        height: 500px;
                        background-color: $color-fundo;
                        position: relative;
                        display: flex;
                        align-items: center;
                        transition: 0.5s ease-in-out;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        .info{
                            width: 100%;
                            height: 100%;
                            color: $color-branco;
                            background-color: rgb(27 27 27 / 80%);
                            opacity: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            z-index: 555;
                            padding: 10px;
                            gap: 46px;
                            transform: translateY(30px);
                            transition: 0.5s all;
                            h2{
                                @include syne32;
                                font-size: 60px;
                                color: transparent;
                                -webkit-text-stroke: 0.5px white;
                                background-color: transparent;        
                            }
                            p{
                                @include dmSans24;
                                text-align: center;
                                background-color: transparent;
                            }
                            a{
                                color: $color-branco;
                            }
                            a:hover{
                                color: $color-fundo;
                            }
                        }
                    }
                    .card:hover .info{
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
            }
        }
    }
    .servicos{
        max-height: 388px;
        width: auto;
        height: auto;
        color: #fff;
        padding: 52px 0;
        border-bottom: 1px solid #424141;
        .innerWidth{
            padding: 0 24px;
            .titulo{
                width: auto;
                display: flex;
                margin-bottom: 36px;
                align-items: center;
                .barTitle{
                    display: block;
                    width: 15px;
                    height: 0;
                    border: 1px solid #FFFFFF;
                    margin-right: 10px;
                    background-color: $color-branco;
                    transition: all 0.3s ease-in-out;
                }
                h2{
                    @include sectionTitle;
                }
            }
            .conteudoServicos{
                display: flex;
                justify-content: space-between;
                .servicosCard{
                    min-width: 550px;
                    height: 200px;
                    background-color: #323232;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 50px 24px;
                    gap: 14px;
                    transition: 1s;
                    .cardAssets{
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        background: none;
                        .servicoImg{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            border: 1px solid #424141;
                            background: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 1s;
                            svg{
                                background: none;
                                path{
                                    transition: 1s;
                                    fill: #Fff;
                                }
                            }
                        }
                        .cardConteudo{
                            background: transparent;
                            h3{
                                @include dmSans32;
                                background: none;
                            }
                        }
                    }
                    .servicoNum{
                        background: none;
                        h2{
                            font-family: 'DM Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 70px;
                            line-height: 91px;
                            color: transparent;
                            -webkit-text-stroke: 0.5px #5a5a5a;
                            background: none;
                        }
                    }
                }
                .servicosCard:hover{
                    .servicoImg{
                        background-color: #fff;
                        svg{
                            path{
                                fill: #424141;
                            }
                        }
                    }
                }
            }
        }
    }
}