@media (max-width: 1024px){
    body{
        .innerWidth{
            max-width: 976px;
            width: 976px;
        }
        main{
            .home{
                height: auto;
                padding: 124px 32px;
                .innerWidth{
                    display: flex;
                    flex-direction: column;
                    padding: 0px 24px;
                    .banner{
                        margin-top: 0;
                        margin-bottom: 62px;
                    }
                    .redesSociais{
                        flex-direction: unset;
                        margin: 0 auto;
                    }
                }
            }
            .servicos{
                .innerWidth{
                    .conteudoServicos{
                        .servicosCard{
                            min-width: 450px;
                            padding: 50px 20px;
                            .servicoNum{
                                display: none;
                            }
                        }
                    }
                }
            }
            .contato{
                .innerWidth{
                    .conteudoContato{
                        flex-direction: column;
                        align-items: unset;
                        gap: 62px;
                        .infoContato{
                            .conteudoInfo{
                                p{
                                    max-width: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px){
    body{
        .innerWidth{
            padding: 0 24px;
            max-width: 704px;
            width: 704px;
        }
        main{
            .home{
                padding: 52px 32px;
                .innerWidth{
                    .banner{
                        height: auto;
                        display: flex;
                        flex-direction: column-reverse;
                        gap: 18px;
                        img{
                            width: 657px;
                            height: 782px;      
                        }
                        .nome{
                            margin: 0;
                            h2{
                                span{
                                    color: $color-branco;
                                }
                            }
                        }
                        #nome2{
                            display: none;
                        }
                        #nome3{
                            display: none;
                        }
                        .textHome{
                            color: $color-branco;
                            margin: 0;
                        }
                    }
                }
            }
            .servicos{
                .innerWidth{
                    .conteudoServicos{
                        gap: 40px;
                        flex-direction: column;
                        .servicosCard{
                            padding: 27px;
                            .servicoNum{
                                display: block;
                            }
                        }
                    }
                }
            }
            .sobre{
                .innerWidth{
                    .infoCv{
                        .skills{
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 425px){
    body{
        .innerWidth{
            max-width: 425px;
            width: 425px;
            padding: 15px 24px;
            margin: auto;
        }
        header{
            width: 100%;
            position: fixed;
            .innerWidth{
                .navBar{
                    .navMenu{
                        width: 100%;
                        position: fixed;
                        left: -100%;
                        top: 110px;
                        gap: 0;
                        background-color: $color-fundo;
                        text-align: center;
                        flex-direction: column;
                        border-top: 1px solid #424141;
                        border-bottom: 1px solid #424141;
                        transition: 0.3s;
                        .navItem{
                            margin: 16px 0;
                        }
                    }
                    .navMenu.ativo{
                        left: 0;
                    }
                    .navIdioma{
                        width: 100%;
                        position: fixed;
                        left: -100%;
                        top: 400px;
                        background-color: $color-fundo;
                        text-align: center;
                        border-bottom: 1px solid #424141;
                        justify-content: center;
                        padding: 28px;
                        transition: 0.3s;
                        .navItem{
                            margin: 16px 0;
                        }
                    }
                    .navIdioma.ativo{
                        left: 0;
                    }
                    .menuHamburguer{
                        display: block;
                    }
                    .menuHamburguer.ativo .bar:nth-child(2){
                        opacity: 0;
                    }
                    .menuHamburguer.ativo .bar:nth-child(1){
                        transform: translateY(8px) rotate(45deg);
                    }
                    .menuHamburguer.ativo .bar:nth-child(3){
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
            }
        }
        main{
            .home{
                padding: 0px;
                padding-top: 112px;
                .innerWidth{
                    padding: 52px 24px;
                    .banner{
                        img{
                            width: 377px;
                            height: 449px;    
                        }
                        .nome{
                            h2{
                                font-size: 100px;
                            }
                        }
                        .textHome{
                            font-size: 32px;
                        }
                    }
                }
            }
            .servicos{
                .innerWidth{
                    .conteudoServicos{
                        .servicosCard{
                            width: 100%;
                            min-width: unset;
                            padding: 27px 17px;
                            .cardAssets{
                                .cardConteudo{
                                    h3{
                                        font-size: 24px;
                                    }
                                }
                            }
                            .servicoNum{
                                display: none;
                            }
                        }
                    }
                }
            }
            .sobre{
                .innerWidth{
                    display: flex;
                    flex-direction: column;
                    gap: 52px;
                    .info{
                        h3{
                            @include syne24;
                        }
                        p{
                            @include dmSans22
                        }
                    }
                    .infoCv{
                        flex-direction: column;
                    }
                }
            }
            .contato{
                .innerWidth{
                    .conteudoContato{
                        .infoContato{
                            min-width: unset;
                            width: 100%;
                            .conteudoInfo{
                                p{
                                    @include dmSans22;
                                }
                                #contatoInfo{
                                    @include dmSans18;
                                }
                            }
                        }
                        .formContato{
                            min-width: unset;
                            width: 100%;
                        }
                    }
                }
            }
        }
        footer{
            .rodape{
                .innerWidth{
                    .conteudoRodape{
                        .direitos{
                            p{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}